.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 4%;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  z-index: 1;
  background-color: #fff;
  padding-top: 30px;
  width: 92%;
  .leftWrapper {
    display: flex;
    line-height: 36px;
    .logo {
      font-size: 24px;
      text-transform: uppercase;
      text-align: justify;
      letter-spacing: 0.34em;
      a {
        text-decoration: none;
        color: black;
      }
    }

    .menu {
      text-align: center;
      margin-left: 50px;
      display: flex;
      align-items: center;

      a {
        font-size: 16px;
        // line-height: 18px;
        margin-right: 15px;
        text-decoration: none;
        color: black;
        font-weight: 400;
        opacity: 0.5;
        text-transform: uppercase;
      }
      .active {
        opacity: 1;
        font-weight: 500;
      }
    }
  }
  .tools {
    cursor: pointer;
    ul {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 248px;
      li {
        text-align: center;
        width: 62px;
        .desc {
          font-size: 10px;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
