.container {
  padding: 16px 100px;
  display: grid;
  column-gap: 57px;
  row-gap: 20px;
  // grid-template-columns: repeat(3, minmax(350px, 1fr));
  grid-template-columns: repeat(4, 350px);
  grid-template-rows: 421px 421px 421px;
}
